!!! 5

%html{lang: 'fr'}

  %head
    %meta{charset: "utf-8"}

    %title Hello Phoenix!
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/css/app.css", rel: "stylesheet"}

    %script{type: 'application/javascript', src: 'https://code.jquery.com/jquery-2.1.1.min.js'}
    %script{type: 'application/javascript', src: '/js/phoenix.js'}
    %script{type: 'application/javascript', src: '/js/app.js'}

  %body


    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        .navbar-header

      %a.navbar-brand{href: "#"} Some Secret Shit.

    .container

      .row
        .col-lg-12
          %dl#message-container.dl-horizontal

      .row
        .col-lg-12
          %form#message-input{role: 'form'}
            .input-group.input-group-lg
              %input.form-control{type: 'text', placeholder: 'Write some shit.'}
              %span.input-group-btn
                %button.btn.btn-default{type: 'submit'} Send some shit.

